* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #35302f;
  color: #fff;
  position: sticky;
  top: 0;
}

header .logo img {
  height: 6rem;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.contact-form,
.contact-info {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 48%;
}

.contact-form h1,
.contact-info h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.contact-form p {
  font-size: 1em;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

button {
  padding: 10px 20px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #d40813;
}

.contact-info p,
.social-media-item p {
  font-size: 1em;
  margin-bottom: 20px;
}

.customer-care {
  margin-top: 20px;
}

.care-member {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.care-member img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-media-item {
  display: flex;
  align-items: center;
}

.social-media-item svg {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #35302f;
  color: #fff;
}

footer nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer nav ul li a {
  color: #fff;
  text-decoration: none;
}
